.loading-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  align-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
}